{% extends "base.html" %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">About Us</h1>
      <p class="lead fw-normal text-white-50 mb-0">This is our about page.</p>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <center>
    <div class="col-8 mt-5 mb-5">

      <p align="justify">
        Lorem Ipsum Text Generator is a free Chrome add-on developed by shaneclarke482.
        It falls into the category of browsers, specifically add-ons & tools.
        This program is designed to generate fake text that can be used for testing web designs
        or explaining examples.

        Lorem Ipsum Text Generator allows users to easily generate placeholder
        text to fill content areas on web pages or in applications.
        The generated text is in the form of the classic Latin text "Lorem ipsum",
        which is often used as a placeholder in the design and development industry.
        This add-on is particularly useful for web designers and developers who need to quickly and
        easily generate dummy text to test the layout and formatting of their designs.
      </p>
    </div>
  </center>
  </div>
</div>
{% endblock content %}