{% extends "base.html" %}

{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-4 fw-bolder">Login</h1>
      <p class="lead fw-normal text-white-50 mb-0">Please Login to our page!😍</p>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <center>
    <div class="col-md-3 mt-5 mb-5">
      <form method="POST" action="{% url 'login-user' %}">
        {% csrf_token %}
        <div class="mb-3">

          <input type="text" class="form-control" name="username" placeholder="write your username">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="enter your password">
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
      </form>

    </div>
  </center>
  </div>
</div>
{% endblock content %}